/* Colors */

$color-main: #10263b;
$color-secondary: #db7137;

$color-text-dark: #1b2131;
$color-text-light: #9eadc0;

$color-bg-light: #f6f7fb;

$color-accent: #3ec59a;

$color-success: #50b83d;
$color-warning: #db7137;
$color-danger: #ff3b49;

