<aside [ngClass]="{'compact': compact, 'open': menuOpen}">
  <div class="wrap">
    <div class="d-flex justify-content-end">
      <button class="mob-menu-btn" (click)="onMenuOpen()">
        <i [ngClass]="{'icon-right-dir': !menuOpen, 'icon-left-dir': menuOpen}"></i>
      </button>
    </div>
    <div class="aside-logo">
      <a [href]="">
        <img src="assets/imges/logos/logo.jpg">
      </a>
    </div>
    <nav class="aside-menu">
      <ul class="list-group list-group-flush">
        <li class="list-group-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
          <a routerLink="/dashboard"><i class="icon-hammer"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="list-group-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
          <a routerLink="/offerings"><i class="icon-exchange"></i>
            <span>Offerings</span>
          </a>
        </li>
        <li class="list-group-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
          <a routerLink="/transactions"><i class="icon-users"></i>
            <span>Transactions</span>
          </a>
        </li>
        <li class="list-group-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
          <a routerLink="/settings"><i class="icon-cog-alt"></i>
            <span>Settings</span>
          </a>
        </li>
        <li class="list-group-item">
          <a routerLink="/"><i class="icon-hammer"></i>
            <span>Value</span>
          </a>
        </li>
        <li class="list-group-item">
          <a routerLink="/"><i class="icon-hammer"></i>
            <span>Value</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
