<aside>
  <div class="aside-logo">
    <a [href]="">
      <img src="assets/imges/logos/logo.jpg">
    </a>
  </div>
  <nav class="aside-menu">
    <ul class="list-group list-group-flush">
      <li class="list-group-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
        <a routerLink="/dashboard"><i class="icon-hammer"></i>
          Dashboard
        </a>
      </li>
      <li class="list-group-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
        <a routerLink="/offerings"><i class="icon-exchange"></i>
          Offerings
        </a>
      </li>
      <li class="list-group-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
        <a routerLink="/transactions"><i class="icon-users"></i>
          Transactions
        </a>
      </li>
      <li class="list-group-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
        <a routerLink="/settings"><i class="icon-cog-alt"></i>
          Settings
        </a>
      </li>
      <li class="list-group-item">
        <a routerLink="/"><i class="icon-hammer"></i>
          Value
        </a>
      </li>
      <li class="list-group-item">
        <a routerLink="/"><i class="icon-hammer"></i>
          Value
        </a>
      </li>
    </ul>
  </nav>
</aside>
