app-topnavbar{
  display: block;
  width: 100%;
  flex: 0 0 3rem;

}

.navbar{
  align-items: flex-start;
  padding: 0.7rem 0.8rem 0.2rem;
}

.navbar-title{
  font-size: 1.2rem;

  >i {
    margin-right: 0.2rem;
  }
}
